.event-list {
  background: #15a1db;
  padding: 5px;
  justify-content: center;
}
.event-list a{
 color: #fff;
 padding-right: 50px;
 font-weight: bold;
}
.main-container .navbar-default {
  background-color: #fff;
  border-color: #fff;
  margin: 0;
}
.main-container .menu-bar .navbar-nav li > a {
 color: #49a2db;
}
.main-container .menu-bar .navbar-nav li > a:hover {
 color: #fff;
}
.menu-bar li:hover {
 background: #49a2db;
}
.menu-bar li > a:hover {
 color: #fff;
}
.submenu ul > li {
  float: left;
  list-style: none;
  border-right: 2px solid #15a1db;
  background-color: #29557e;
  padding: 2px 5px;
}
.submenu ul {
 border-left: 2px solid #15a1db;
 padding: 0;
 margin-right: 10px;
}
.submenu ul > li a {
 text-decoration: none;
 padding: 5px;
 font-size: 11px;
 color: #fff;
}
.item img {
max-width: 100%;
  height: auto;
} 
.carousel.slide {
  margin-top: -5px;
}
.footer-content {
  background: #e2e2e2;
  padding: 10px;
}
.footer-content h5 {
  display: inline-block;
  border-bottom: 2px solid #15a1db;
}
.footer-content ul {
  display: flex;
  justify-content: space-between;
}
.contact-us-list a {
  color: #15a1db;
}
.contact-us-list a:hover {
  color: #29557e;
}
.main-container .carousel-caption {
  bottom: 35%;
} 
.video-list {
  background: url("../images/pattern.jpg");
}
.video-list-carousel {
  padding: 30px 55px 55px;
  margin-right: 0;
}
.video-list .carousel-control{
  width: 0;
}
.video-list .carousel-control.left {
  left: -10px;
}
.video-list .carousel-control.right {
  right: -15px;
}
.video-list .glyphicon.glyphicon-chevron-left, .video-list .glyphicon.glyphicon-chevron-right {
font-size: 18px;
padding: 5px;
background: #fff;
border-radius: 50%;
color: transparent;
margin-right: 0;
}
.video-list .glyphicon.glyphicon-chevron-left{
  left: -15px;
}
.video-list .glyphicon.glyphicon-chevron-right{
  right: -18px;
}
.video-carousel-header {
  padding-top: 20px;
  font-size: 25px; 
  color: #fff;
  font-weight: 600;
  text-align: center;
}

#myModalVideo .modal-body {
  position:relative;
  padding:0px;
}
#myModalVideo .close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.multi-item-carousel .carouse-control.left, .multi-item-carousel .carouse-control.right {
background-image: none;
}
.item a .glyphicon-play-circle, .item a:hover .v-sub-header {
display: none;
}
.item a:hover .glyphicon-play-circle{
display: inline;
font-size: 30px;
color: #7b6e6e;
}
.multi-item-carousel .v-title {
  position: absolute;
  width: 90%;
  height: 100%;
  text-align: center;
}
.multi-item-carousel .v-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.multi-item-carousel .glyphicon-play-circle {
  position: relative;
  margin: 0 auto;
}

@media(min-width:768px) {
    .menu-bar .navbar-nav, .submenu .nav-list {
      float:right
    }
    .main-container .navbar-header { 
      height: 85px;
    }
    .main-container .navbar-brand {
      padding-top: 8px;
    }
    .menu-bar.collapse.navbar-collapse {
      padding-top: 18px;
    }
    .logo img {
      height: auto;
      width: 175px;
   }
   .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    }
    .multi-item-carousel .carousel-inner .active.left {
    left: -25%;
    }
    .multi-item-carousel .carousel-inner .active.right {
    left: 25%;
    }
    .multi-item-carousel .carousel-inner .next {
    left: 25%;
    }
    .multi-item-carousel .carousel-inner .prev {
    left: -25%;
    }
}

@media(max-width: 768px) {
  .logo img {
    width: 100px;  
  }
  .main-container .navbar-brand {
    padding-top: 8px;
  }
  .video-list-carousel {
    padding: 20px 40px 45px;
  }
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
  }
  .multi-item-carousel .carousel-inner .active.left {
    left: -50%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 50%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 50%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -50%;
  }
}

@media(max-width: 992px) {
  .main-container .carousel-inner .item img{
    height: auto;
  }
  .main-container .carousel-inner .item {
    padding: 0;
  }
}
@media(min-width: 992px) {
  .main-container .carousel-inner .item img {
    height: auto;
  }
  .multi-item-carousel .carousel-inner .item img {
    height: auto;
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out all;
  backface-visibility: visible;
  transform: none !important;
  }
}




