.event-list {
  background: #15a1db;
  padding: 5px;
  justify-content: center;
}

.event-list a {
  color: #fff;
  padding-right: 50px;
  font-weight: bold;
}

.main-container .navbar-default {
  background-color: #fff;
  border-color: #fff;
  margin: 0;
}
.main-container .menu-bar .navbar-nav li > a {
 color: #49a2db;
 font-size: 16px;
}
.main-container .menu-bar .navbar-nav li > a.active {
  font-weight: 600;
}
.main-container .menu-bar .navbar-nav li > a:hover {
 color: #fff;

}
.menu-bar li:hover {
  background: #49a2db;
}    
.menu-bar li > a:hover {
 color: #fff;
}
.submenu ul>li {
  float: left;
  list-style: none;
  border-right: 2px solid #15a1db;
  background-color: #29557e;
  padding: 2px 5px;
}

.submenu ul {
  border-left: 2px solid #15a1db;
  padding: 0;
  margin-right: 10px;
}

.submenu ul>li a {
  text-decoration: none;
  padding: 5px;
  font-size: 11px;
  color: #fff;
}

.item img {
  max-width: 100%;
  height: auto;
}

.carousel.slide {
  margin-top: -5px;
}

.footer-content {
  background: #e2e2e2;
  padding: 10px;
}

.footer-content h5 {
  display: inline-block;
  border-bottom: 2px solid #15a1db;
}

.footer-content ul {
  display: flex;
  justify-content: space-between;
}

.contact-us-list a {
  color: #15a1db;
}

.contact-us-list a:hover {
  color: #29557e;
}

.main-container .carousel-caption {
  bottom: 35%;
}

.video-list {
  background: url("../images/pattern.jpg");
  padding-bottom: 40px;
}

.all-prod-img {
  width: 100%;
  padding: 10%;
  text-align: center;
}
.all-prod-img img {
  width: 75%;
}
.all-prod-content {
  background-color: #f2f3f3;
  padding: 10px 25px;
  min-height: 130px;
}
.all-prod-list a:hover {
  text-decoration: none !important;
}
.all-prod-list {
  margin-bottom: 20px;
}
.all-prod-list .prod-content {
  border: 1px solid #ccc;
}
.all-prod-title, .about-us-title, .partners-title {
  padding-top: 30px;
  padding-bottom: 20px;
}
.all-prod-title p, .about-us-title p, .partners-title p{
  color: #15a1db;
  display: inline-block;
  padding-bottom: 3px;
  font-weight: 600;
  border-bottom: 1px solid #F00;
  font-size: 16px;
}
.all-prod-outer {
  margin-top: 25px;
}
.partners-content {
  font-size: 16px;
  margin-bottom: 25px;
}
.contact-caption {
  background: #3a9dca;
  border-top: 1px solid #13849c;
  padding-bottom: 10px;
}

.contact-heading h2 {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-info {
  padding-left: 40px;
}

.info-detail {
  border-top: 1px solid #53cde5;
  padding-top: 15px;
}

.contact-info ul {
  margin: 0;
  padding: 0;
}

.contact-info ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  list-style: none;
}

.contact-info i.fa {
  font-size: 16px;
  padding-right: 12px;
  width: 25px;
  height: 38px;
}

.contact-info ul li span {
  font-weight: bold;
}

.contact-info h3,
.contact-form h3 {
  padding-left: 0;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #13849c;
  padding-bottom: 12px;
  margin-bottom: 0;
}

.form {
  border-top: 1px solid #53cde5;
  padding-top: 15px;
  text-align: right;
}

.contact-form input,  .contact-form select{
  width: 100%;
  height: 40px;
  background: #fff;
  font-size: 13px;
  color: #084a5c;
  font-family: 'Open Sans', sans-serif;
  padding: 12px;
  border: 0;
  margin-bottom: 12px;
}
.partners-info .contact-form input {
  margin-bottom: 20px;
}
.demo-request-info {
  background: #a1a1a1;
  margin-bottom: 30px;
}
.demo-request-info .contact-form input, .demo-request-info select{
  margin-bottom: 20px;
}
.demo-request-info .contact-form textarea {
  height: auto
}
.contact-caption.partners-info {
  background: #a1a1a1;
  margin-bottom: 30px;
}
.contact-form select {
  color: #747374;
}
.contact-form textarea {
  font-family: 'Open Sans', sans-serif;
  padding: 12px;
  width: 100%;
  height: 140px;
  border: 0;
  margin-bottom: 12px;
}

.contact_with_us ul li i {
  font-size: 1em;
  line-height: 1.3em;
  color: #29557e;
  padding: 10px;
  float: left;
  background-color: #dfe5eb;
  width: 40px !important;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  transition: all 0.3s;
}
.about-us-content p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
.about-us-outer {
  margin-top: 25px;
  margin-bottom: 25px; 
}
.vision .heading {
  text-align: center;
}
.vision .heading h2{
  padding: 0 12px;
  position: relative;
  display: inline-block;
}

.heading h2:before, .heading h2:after {
  content: ' ';
  width: 70%;
  position: absolute;
  border-width: 1px;
  border-color: #bbb;
}
.vision .heading h2:before, .vision .heading h2:after {
  top: 17px;
  border-bottom-style: solid;
}
.vision .heading h2:before {
  right: 100%;
}
.vision .heading h2:after {
  left: 100%;
}
.contact-address {
  padding-bottom: 20px;
  color: #fff;
  font-size: 15px;
}
.swiper-slide-active .animation-text{
  -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: fadeIn;
  animation-duration: 4s;
}
.animation-text{
  color: #fff;
}
.swiper-slide-active .animation-text.left-text {
  text-align: left;
  bottom: 40px;
  left: 70px;
}
.animation-text.left-text h1, .animation-text.left-text h3 {
  margin: 0;
}
.animation-text.right-text {
  top: 70px;
  right: 75px;
  text-align: left;
}
.animation-text.left-text h1 {
color: #d36ffe;
}

@media(min-width:768px) {
    .menu-bar .navbar-nav, .submenu .nav-list {
      float:right
    }
    .main-container .navbar-header { 
      height: 85px;
    }
    .main-container .navbar-brand {
      padding-top: 8px;
    }
    .menu-bar.collapse.navbar-collapse {
      padding-top: 18px;
    }
    .logo img {
      height: auto;
      width: 175px;
   }
}

@media(max-width: 768px) {
  .logo img {
    width: 100px;
  }
  .main-container .navbar-brand {
    padding-top: 8px;
  }
  .heading h2:before, .heading h2:after  {
    width: 20%;
  }
}

@media(max-width: 992px) {
  .main-container .carousel-inner .item img {
    height: auto;
  }

  .main-container .carousel-inner .item {
    padding: 0;
  }
}

@media(min-width: 992px) {
  .main-container .carousel-inner .item img {
    height: auto;
  }

}

@media all and (transform-3d), (-webkit-transform-3d) {

}


/*animation text*/
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}


